body {
    background-color:rgb(12, 12, 12);
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.clock {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 1.8rem;
    border: 3px solid rgb(0, 4, 255);
    border-radius: 40px;
    background-color: black;
    box-shadow: rgba(9, 67, 227, 0.982) 0px 1px 15px;
    color: rgb(73, 151, 219);
    display: flex;
    flex-wrap: wrap;
}

.clock h1, .clock h2 {
    margin: 5px;
}

#ampm {
    font-size: 1.8rem;
}

h1 {
    box-shadow: blue 0px 1px 15px;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid skyblue;
    padding: 5px;
}

h2 {
    font-size: 3.6rem;
}

/* Responsive Styles */
@media screen and (max-width: 730px) {
    .clock {
        width: 90%;
        padding: 10px;
        font-size: 1.2rem;
    }

    h2 {
        font-size: 2.4rem;
    }
}
